img {
  max-width: 100%;
}

.post-wrapper {
  padding-bottom: 3%;
} 

.post-container {
  display: flex;
  border: 2px solid grey;
}

.score {
  padding: 5%;
}

/* .content {
  display: flex;
  flex-direction: column;
} */

